<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorteo Multiviral</title>
    <link rel="stylesheet" type="text/css" href="style.css">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="bg" style="height:2000px;">
    <div class="container" id="editor">
<br>
      <div class="starter-template">
        <img src="img/logo-circu.png" alt="" width="100">
        <h1>Sorteo de lo que sea</h1>
        <p class="lead">Por { Multiviral } </p>
        <div class="row lista">
            <div class="col-md-4">
                <div class="jumbotron">
                    
                    <h3>Lista de participantes</h3><a href="#" style="font-size: 1.5rem" v-on:click="modalPart()"><i  class="fa fa-user-plus"></i></a>
                    <ul class="list-group" style="text-align:left;">
                    <template v-for="(jug, index) in jugadores">
                            <li class="list-group-item" >
                                    {{index+1}}. {{jug.nombre}} - {{jug.descripcion}} 
                                <span >
                                    <a href="#" v-on:click="eliminarJugador(index)">
                                        <i style="color:red;" class="fas fa-times"></i>
                                    </a>
                                </span>
                                
                            </li>
                    </template>
                        
                    </ul>   
                    <br>
                </div>
            </div>
            <div class="col-md-4" style="padding: 20px">
                  
                <p v-if="sorteando==false"><a class="btn btn-success btn-lg"  role="button" v-on:click="iniciar()">SORTEAR</a></p>
                <p v-else><a class="btn btn-danger btn-lg"  role="button" v-on:click="cancelar()">CANCELAR</a></p>
                <div v-if="sorteando==true" class="ganador" v-if="tiemporest!=-1" >
                     <div v-if="tiempo>0" class="spinner-border"></div>
                    <h1 style=" font-size: 100px">{{tiemporest}}</h1> 
                </div>
                <div v-if="sorteando==false" class="input-group mb-3">
                            <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">Tiempo - seg</span>
                            </div>
                        <input type="number" class="form-control" v-model="tiempoprev" placeholder="Tiempo en segundos" >
                
                </div>
                
            </div>
            <div class="col-md-4" style="padding: 80px" >
                <div v-if="sorteando==true" class="ganador" v-if="ganador.nombre!=''">
                    
                    <i class="fa fa-user" style="font-size:48px"></i>
                    <h1><b>{{ganador.nombre}}</b></h1>
                    <h3>Descripción: {{ganador.descripcion}}</h3>
                </div>                
            </div>
        </div>
      </div>

      <div class="modal fade" style="color:black;" id="modalParticipante" tabindex="-1" role="dialog" aria-labelledby="modalParticipanteTitle" aria-hidden="true">
            <div class="modal-dialog " role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5  class="modal-title" >Editar Participante</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <div class="form-group">
                        <label for="jugador">Nombre</label>
                        <input type="text" class="form-control" id="jugador" v-model="mjugador.nombre" >
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" v-model="mjugador.descripcion">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" v-on:click="agregarJugador()">Agregar</button>
                </div>
              </div>
            </div>
          </div>


    </div>
    <h1></h1>
    <h3></h3>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
new Vue({
  el: '#editor',
  data: {
    
    jugadores:[
        {nombre:'César Edú Soria Canaza',descripcion:'Geophysnyc SG S.A.C.'},
        {nombre:'Elvis Carpio',descripcion:'cyatopografiaespacial'},
        {nombre:'Daniel Díaz Beltrán',descripcion:'La casa del vapeador'},
    ],
    ganador: {nombre:'',descripcion:''},
    mjugador:{nombre:'',descripcion:''},
    tiempo:600,
    tiempoprev:30,
    tiemporest:-1,
    sorteando:false,
  },
  methods: {
    random(){
        const idx = Math.floor(Math.random() * this.jugadores.length);
        this.ganador = this.jugadores[idx];
    },

    async suspenso(){
        let cont=0;
        if(this.tiempo>0){
            if(this.tiempo%10==0){
                this.tiemporest=(this.tiempo/10)-cont;
                cont++;
            }

            this.tiempo-=1;
            this.random();       
            if(this.sorteando==true){
                setTimeout(this.suspenso, 100);
            }

        }
        else{
            this.tiemporest=0;
        }

    },
    iniciar(){
        this.sorteando=true;
        this.tiempo=this.tiempoprev*10;
        this.suspenso();
    },
    modalPart(parti=null){
        if(parti==null){
             this.mjugador={nombre:'',descripcion:''};
        }
        else{
            this.mjugador=Object.assign({}, parti);
        }
        $("#modalParticipante").modal('show');
    },
    agregarJugador(){
        this.jugadores.push(this.mjugador);
        $("#modalParticipante").modal('hide');
    },
    eliminarJugador(pos){
        this.jugadores.splice(pos, 1);
    },    
    cancelar(){
        this.sorteando=false;
    }
  }
})
</script>
</html>