.bg{
    background: url(img/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    color: white;
    text-align: center;
}
.lista{
    color: black;
    text-transform: uppercase;
}
.container .jumbotron, .container-fluid .jumbotron {

    padding-right: 10px !important;
    padding-left: 10px !important;
}

.jumbotron {

    padding-top: 10px !important;
    padding-bottom: 10px !important;

}

.ganador{
    color: white;
    font-weight: bold;
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}